.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
  margin-left: 50px;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
  
}

.mole {
	background-image: url("mole1.jpg");
	background-size: cover;
}

h1 {
  color: black;
}

body {
   background-image: radial-gradient(white,grey)
}